.crumb-input 
{ 
    
    align-items: center;
    margin-top:5%; 
    padding-left:30%!important; 
    
}
mat-label
{
    color: black;
    font-style: bold;
    font-size: 20px;
}
input
{
    width: 25%;
    height: 25px;
    box-shadow: 1px;
}
button
{
    
    
    background-color: grey;
    opacity: 0.9;
    color: white;
    transition: 0.3s;
}
.flex-container {
   
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  flex-direction: column;
}
th
{
    background-image: url(snb2.jpg);
    background-size: cover;
    color: white;
    font-size: 15px;
}
button:hover
{
    background-color: black;
}
td{
    background-color:snow;
    color: blue;

}
td:hover
{
background-color:grey;
}
